<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ApplyAway</title>
<style>

  td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
  width: 1%;
}
</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

{%if user.is_authenticated%}
<h1>Hello {{user.first_name}}
<h1><a href="accounts/logout">Logout</a></h1>
{%else%}
<h1><a href="accounts/register">Register</a></h1><br>
<h1><a href="accounts/login">Login</a></h1>
  {%endif%}
<body bgcolor="#D3D3D3">
<center><h1>ApplyAway</h1></center>

	<center>
<div id="tooltip">

</div>
	<table >

      <th>Job Site Used</th>
    <th>Company</th>
    <th>Description</th>
        <th>Job</th>
        <th>Notes</th>
        <th>Date</th>
        <th>Applied?</th>



      {% for data in datas %}
  <tr>
      {%if data.user == user.username %}
        <td style="word-break: break-all;"><center><a href="{{data.url}}">{{data.Website}}</a></center></td>
        <td><center>{{data.Company}}</center></td>
       <td style = "width: 5%;"><center>{{data.Description}}</center></td>
       <td><center>{{data.Job}}</center></td>
       <td><center>{{data.Notes}}</center></td>
      <td><center>{{data.Date}}</center></td>
      <td><center>{{data.Applied}}</center></td>

      <td><center><a href="{% url 'update-data' data.id %}">Update</a></center></td>
      <td><center><a href="{% url 'delete' data.id %}">Delete</a></center></td>


        {%endif%}
  </tr>
      {% endfor %}


</table>
</center>
</body>
</html>
