<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ApplyAway</title>


<style>
  td {
  background-color: white;
  width: 1%;
}

times {
  font-family: "Times New Roman", Times, serif;
}

</style>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

{%if user.is_authenticated%}
<h1 class="text-dark"><times>Hello {{user.first_name}}</times></h1>
<h1><a href="accounts/logout"><times>Logout</times></a></h1>
{%else%}
<h1><a href="accounts/register">Register</a></h1><br>
<h1><a href="accounts/login">Login</a></h1>
  {%endif%}
<body style="background-color:#D3D3D3;">
<center><h1 class="text-dark"><times>ApplyAway</times></h1></center>

<br>

	<center><table style="width:95%">
<center>

      <th style="background-color:#D3D3D3;"><center>Job Site Used</center></th>
    <th style="background-color:#D3D3D3;"><center>Company</center></th>
    <th style="background-color:#D3D3D3;"><center>Description</center></th>
    <th style="background-color:#D3D3D3;"><center>Job</center></th>
    <th style="background-color:#D3D3D3;"><center>Notes</center></th>
    <th style="background-color:#D3D3D3;"><center>Date</center></th>
    <th style="background-color:#D3D3D3;"><center>Applied?</center></th>
    <th style="background-color:#D3D3D3;"><center></center></th>
    <th style="background-color:#D3D3D3;"><center></center></th>
</center>


      {% for data in datas %}

  <tr class="border">
      {%if data.user == user.username %}
        <td class="border border-5" style="word-break: break-all;"><center><a href="{{data.url}}">{{data.Website}}</a></center></td>
        <td class="border border-5"><center>{{data.Company}}</center></td>
       <td class="border border-5" style = "width: 5%;">{{data.Description}}</td>
       <td class="border border-5"><center>{{data.Job}}</center></td>
       <td class="border border-5"><center>{{data.Notes}}</center></td>
      <td class="border border-5"><center>{{data.Date}}</center></td>
      <td class="border border-5"><center>{{data.Applied}}</center></td>

      <td><center><a href="{% url 'update-data' data.id %}">Update</a></center></td>
      <td><center><a href="{% url 'delete' data.id %}">Delete</a></center></td>


        {%endif%}
  </tr>

      {% endfor %}


</table>
</center>
</body>
</html>
