<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>
<table>
<td>Introduction <br>
ApplyAway LLC (“Company,” “we,” “our,” or “us”) respects your privacy and is committed to protecting it through our compliance with this privacy policy (“Privacy Policy”). This Privacy Policy describes the types of information we may collect from job seekers (“you” or “user”) when you use our web-based service (“Services”) or that you may provide when you visit the website https://www.applyaway.io/ (our “Website”). We do not ask for your information unless we truly need it.<br><br>
Please read this Privacy Policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, do not use our Services. By accessing our Website or using our Services, you agree to this Privacy Policy. This Privacy Policy may change from time to time (see Changes to Our Privacy Policy). Your continued use of our Services after we make changes is deemed to be acceptance of those changes, so please check this Privacy Policy periodically for updates.<br><br>
Our Services<br>
ApplyAway is a job search organizer and career services platform that helps job seekers organize their search across different platforms and also connects job seekers with Institutions (Universities and Career Centers) and provides each with powerful tracking and organizational tools. Our System is designed to provide job seekers and Institutions with control over their data. Job seekers can fully control their profile and can determine what information they see on their dashboard and share with other job seekers and Institutions.<br><br>
ApplyAway does not share data with any third-party Organizations or Employers without your consent, and will never sell your personal data.<br><br>
Information We Collect About You and How We Collect It<br>
We collect several types of information from and about users of our Services, including information:<br>
By which you may be personally identified, such as name, postal address, resume, e-mail address or telephone number (“personal information”);<br>
That is about you but individually does not identify you, such as your job preferences, education, experience, projects, details about your job search;<br>
About your internet connection, the equipment you use to access our Services, including mobile data, and usage details.<br>
Pertaining to which search engine our application and extension are accessed from.<br><br>
We collect this information:<br>
Directly from you when you provide it to us.<br>
When provided to us by an Organization you may be working with.<br>
Automatically as you navigate through the Services. Information collected automatically may include usage details, IP addresses, and information collected through other tracking technologies.<br>
Source code from webpages that extension is activated on<br>
From third parties, for example, our business partners.<br>
Information You Provide to Us<br>
The information we collect on or through our Services may include:<br>
Information that you provide by creating and updating your profile.<br>
Information that you provide by filling in forms on our Services.<br>
Information that you provide on surveys from us.<br>
Information that you provide while corresponding with us.<br><br>
How We Use Your Information<br>
We use information that we collect about you or that you provide to us, including any personal information:<br>
To provide you with our Services. This includes allowing you to: organize your job search; connect with Employers; sign up for events; and connect with staff from your Organization, if you signed up through an invitation from an Organization.<br>
To provide an Organization you are working with, with our Services. This includes allowing them to: track placement outcomes; keep details about job seekers they work with; and share your candidate profile with their Employer partners.<br>
To present our Website and its contents to you.<br>
To provide you with information, products, or services that you request from us.<br>
To answer any inquiries over the phone, or in person.<br>
To fulfill any other purpose for which you provide it.<br>
To notify you about changes to our Services or Website.<br>
In any other way we may describe when you provide the information.<br>
For any other purpose with your consent.<br>
Disclosure of Your Personal Information<br>
We only share your personal information with your consent. We will ask you before your profile is made public and before it can be shared with Insitutions or with another user. Should you consent to sharing your profile, Institutions will be able to view your profile and have access to your resume. With consent, Institutions will also have access to data coming from the Save Job! and Applied! buttons which will not be tied to any user’s identity.<br>
You may be invited to use ApplyAway’s Services by an Institution. Should you choose to accept, your personal information will be shared with the Institution that invited you and staff from that Institution.<br>
We may disclose information when relevant law enforcement bodies request it, if we believe that disclosure is reasonably necessary to comply with the law, regulation, valid legal process or governmental or regulatory request. If we are going to release your data, we will do our best to provide you with notice in advance by email, unless we are prohibited by law from doing so.<br>
Disclosure of Non-Personal Information<br>
We may disclose non-personal information, aggregated information, and information that does not identify any individual, without restriction. This type of information cannot be reasonably linked back to our users and may be provided to our business partners as a way to track trends and view statistical data about job applicants.<br>
Account Preferences and Opt-Out Features<br>
Users may revoke consent, update their privacy preferences, and opt-out of receiving marketing or promotional emails by visiting the settings page on their profile. You may also opt-out of notifications or marketing emails by clicking the unsubscribe link found at the bottom of the emails you will receive from our Service.<br>
Retention of Your Information<br>
We only retain personal information for as long as necessary to provide our users with our Services. Users may deactivate their account or switch their account to private within our Services at any time. However, we may retain your information as a service provider to your Organization. If you would like us to stop processing your information, please contact your Organization with a request to delete your account.<br>
Third Party Links<br>
Our Services may contain third party links to websites that are not operated by us. Please note that third party websites are subject to their own privacy policies and we have no control over the content and practices of these website. We do not accept responsibility or liabilities for third party links or for the data that you may provide in third party websites. Please use your discretion and review third party policies before submitting information to another website.<br>
Data Security<br>
The use of information received from Google APIs will adhere to the Chrome Web Store User Data Policy, including the Limited Use requirements.<br>
Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology. We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.<br>
All transactions are processed through a gateway provider and are not stored or processed on our servers.<br>
The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our Services, you are responsible for keeping this password confidential. We ask you not to share your password with anyone.<br>
Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to us on our Services. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Services.<br>
Cookies<br>
We use cookies to collect information about you and your activity across our Website and Services. A cookie is a small piece of data that our Website stores on your computer and allows us to understand how you use or Website and serve content to you based on your preferences. If you do not wish to accept cookies from us you should instruct your browser to refuse cookies from our Website.<br>
Third-Party Services<br>
We utilize third-party services to verify users, process payments, gather site analytics and provide customer support. We review the privacy policies of our third-party providers before enlisting their services to ensure their practices align with ours. Third parties may only access your personal information for the specific purpose of providing the aforementioned services.<br>
Payments on our Services and Website are handled by Stripe, Inc. Stripe collects and processes personal data, including identifying information about the devices that connect to its services. You can learn more about Stripe’s policies here.<br>
Children Under the Age of Eighteen<br>
Our Services are not intended for children under eighteen years of age. No one under age eighteen may provide any information to us. We do not knowingly collect personal information from children under eighteen. If you are under eighteen, do not use or provide any information to us. If we learn we have collected or received personal information from a child under eighteen without verification of parental consent, we will delete that information. If you believe we might have any information from or about a child under eighteen, please contact us at info@ApplyAway.co.<br>
Business Transfers<br>
If we or our assets are acquired, or in the unlikely event that we go out of business or enter bankruptcy, we would include user information among our assets transferred to or acquired by a third party. You acknowledge that such transfers may occur, and that any parties who acquire us may continue to use your personal information according to this policy.<br>
Changes to Our Privacy Policy<br>
It is our policy to post any changes we make to our Privacy Policy on this page. The date the Privacy Policy was last revised is identified at the top of the page. You are responsible for periodically visiting our Website and this Privacy Policy to check for any changes.<br>
Contact Information<br>
To ask questions or comment about this Privacy Policy and our privacy practices, contact us at applyawayclemson@gmail.com.<br>

</td>
</table>
</body>
</html>