<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
   <style>
.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
</head>
<body style="background-color:#34cbcd;">

    <div class="container">
        <div class = "center">
<form action = "updaterecord/{{updata.id}}" method = "post">

    {% csrf_token %}

    <input type="text" name="url" value="{{updata.url}}" placeholder="URL"><br>
    <input type="text" name="company" value="{{updata.Company}}" placeholder="Company"><br>
    <input type="text" name="job" value="{{updata.Job}}" placeholder="Job"><br>
    <input type="text" name="description" value="{{updata.Description}}" placeholder="Description"><br>
    <input type="text" name="notes" value="{{updata.Notes}}" placeholder="Notes"><br>
    <input type="text" name="applied" value="{{updata.Applied}}" placeholder="Applied?"><br>
    <!--
    <input type="text" name="date" value="{{updata.Date}}" placeholder="Date"><br>
    -->
    <input type="submit" value="Update">

        </div>
    </div>

</form>
</body>
</html>