<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form action = "" method = POST>

    {% csrf_token %}

    <input type="text" name="url" placeholder="URL"><br>
    <input type="text" name="company" placeholder="Company"><br>
    <input type="text" name="job" placeholder="Job"><br>
    <input type="text" name="description" placeholder="Description"><br>
    <input type="text" name="notes" placeholder="Notes"><br>
    <input type="text" name="status" placeholder="Status"><br>
    <input type="submit" value="Update">

</form>
</body>
</html>